<h2><%= @store.name() %></h2>
<div class="row">
  <div class="col-sm-6">
    <form class="" action="/manage/stores/<%= @store.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="name">Store Name</label>
      <input type="text" name="name" required  placeholder="<%= @store.name() %>">
      <button type="submit" class="btn btn-primary">Edit Store Name</button>
    </form>
  </div>
  <div class="col-sm-6">
    <form action="/manage/stores/<%= @store.id() %>/brands" method="post">
      <% if @brands.any?() %>
        <% @brands.each() do |brand| %>
        <h5><input type="checkbox" name="brand_ids[]" value="<%= brand.id() %>" id="<%= brand.id() %>" <%= (@store.brands() && @store.brands().include?(Brand.find(brand.id().to_i())))?"checked":""%>> <%= brand.name() %></input></h5>
        <% end %>
        <button type="submit" class="btn btn-primary">Update Brands</button>
      <% else %>
      <h5>We have no brands at the moment.</h5>
      <% end %>

    </form>

  </div>
</div>

<div class="bottom">
  <form class="" action="/manage/stores/<%= @store.id() %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Remove Store</button>
    <a class="btn btn-default" href="/manage">Back</a>
  </form>
</div>
